.input-group>.custom-file, 
.input-group>.custom-select, 
.input-group>.form-control {
    width: 6rem;
}

#drawingBoard {
    width: 40rem;
    height: 40rem;
    margin-right: 1rem;
    background-color: rgba(52, 58, 64, 0.750);
    border-radius: 0.250rem;
}

#shapeInformation {
    width: 21rem;
    height: 19rem;
}

.sidepanel-header {
    font-weight: 400;
    font-size: 1.125rem;
}

.sidepanel-list-item {
    font-weight: 400;
    color: #6c757d;
}

.sidepanel-span {
    font-weight: 500;
    color: #343a40;
}

.shape {
    position: absolute;
}

.shape,
#rectangle,
#square,
#circle,
#triangle {
    opacity: 0.575;
}

.shape:hover,
#rectangle:hover,
#square:hover,
#circle:hover,
#triangle:hover {
    cursor: pointer;
    opacity: 0.775;
}

#Rectangle,
#Square {
    border-radius: 0.125rem;
}

#circle {
    border-radius: 50%;
}

#triangle {
    width: 0;
    height: 0;
    border-bottom-style: solid;
    border-right-style: solid;
    border-right-color: transparent;
    border-top-left-radius: 0.125rem;
    border-bottom-right-radius: 0.125rem
}