.input-group>.custom-file, 
.input-group>.custom-select, 
.input-group>.form-control {
    width: 6rem;
}

#drawingBoard {
    width: 40rem;
    height: 40rem;
    margin-right: 1rem;
    background-color: rgba(52, 58, 64, 0.750);
}

#shapeInformation {
    width: 21rem;
    height: 19rem;
}

.sidepanel-header {
    font-weight: 400;
    font-size: 1.125rem;
}

.sidepanel-list-item {
    font-weight: 500;
}

.shape {
    position: absolute;
}

.shape,
#rectangle,
#square,
#circle,
#triangle {
    border-style: dotted;
    border-width: 0.125rem;
}

.shape:hover,
#rectangle:hover,
#square:hover,
#circle:hover,
#triangle:hover {
    cursor: pointer;
}

#circle {
    border-radius: 50%;
}

#triangle {
    width: 0;
    height: 0;
}